{% extends "sncf/index.html" %}
{%block title%}ajout-sncf{%endblock%}
{% block content %}
    <form method="post" action="/appSNCF/traitementMarque/">
        {% csrf_token %}
        {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste-->
        <input type="submit" value="envoyer"\>
    </form>
    <h2>liste des marque</h2>
     <ul>
        {% for l in listeMarque %}
        <li>
            {{l}}
            <a href="/appSNCF/update/{{M.id}}/" class="modifier">modifier</a>
            <a href="/appSNCF/suprTrain/{{M.id}}" class="suprimer">suprimer</a>
        </li>
        {%endfor%}
    </ul>
{% endblock %}
