<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="utf-8">
	<title> {%block title %} index-sncf {% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{%static 'appSNCF/style.css'%}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div id="photo">
			<img src="{%static 'appSNCF/logo.png'%}" alt="logo de la sncf">
		</div>
		<div id="titre">
			<h1>Stock de la sncf</h1>
		</div>
	</header>
	<nav>
		<ul>
			<li><a href="/appSNCF/index/">accueil</a></li>
			<li><a href="/appSNCF/ajout/">ajout</a></li>
			<li><a href="/appSNCF/ajoutMarque/">ajout-marque</a></li>
			<li><a href="/appSNCF/stock/">stock</a></li>
		</ul>
	</nav>
	{% block content %}
	<section id="text">bienvenue sur le site de gestion des stock de la sncf </section>
	{% endblock %}
</body>
</html>